@import url('./font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.an-1 {
  background: linear-gradient(-45deg, #172554, #001657, #172554, #172554);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@layer components {
  .trans {
      @apply transition-all ease-linear duration-200
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.name-field-outline {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  top: 0;
  scale: 90%;
}

.name-field-outline-right {
  position: absolute;
  right : 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  top: 0;
  scale: 90%;
}

